<div class="container1">
  <h1>My Art</h1>
  <p>
    Jules Crystal Design is creating unique jewelry that brings you a full
    magical experience. The pieces are inspired from far away realms, mythical
    creatures and forgotten fairytales. All of them are created by hand in
    different styles in the heart of Transylvania.
  </p>
  <p>
    The techniques used in the process of creation are various. This way, we
    always bring new pieces with character and special features.
  </p>
  <p>
    Jules Crystal Design is my vision of breaking free from all the ordinary
    daily jewelry and seeking the paramountey. I am dreaming my creation and
    then I create my dream.
  </p>
</div>
<div class="flex">
  <img src="\assets\myArt1n.jpg" alt="" />
  <img src="\assets\myArt2n.jpg" alt="" />
</div>
<div class="container">
  <img src="\assets\myArt3n.jpg" alt="" />

  <h2>Collections</h2>
  <p>
    I first launched a collection in October 2019. It was the moment I decided
    to take my jewelry pieces to the next level. I was enchanted by the way
    jewelry collections looked with all the pieces that were from the same
    stories with vibrant colors that complete each other. Since then, I launched
    4 collections.
  </p>

  <h3>1. Fantasy Fall Collection</h3>
  <p>
    My first Collection launched in October 2019 was also the first time I tried
    sculpting jewelry for the first time. This collection had its inspiration
    from Fantasy series as it already says in the title. I created unique
    pendants with stories behind them. Each and every piece of this collection
    has its own story of inspiration that stronlgy influences the design . And
    as the first collection of Jules Crystal Design, I wanted it to be special
    so I picked a series of unique, high-quality stones. The collection was a
    complete success. In only a few days, it was almost sold out!
  </p>
</div>
<div class="flex">
  <img src="\assets\ffc1n.jpg" alt="" />
  <img src="\assets\ffc2n.jpg" alt="" />
</div>
<div class="container">
  <h3>2. Elderwood Collection</h3>
  <p>
    Elderwood Collection, also my second collection was launched in November the
    same year. With the aproach of the cold Winter, I wanted to bring people the
    raw green of the plants one more. So I launched this collection. It had
    green elements in almost every piece. The little nature symbols didn’t miss
    from this one neither. I wanted it to speak for itself, right to the
    customer’s heart.
  </p>
</div>
<div class="flex">
  <img src="\assets\ec1n.jpg" alt="" />
  <img src="\assets\ec2n.jpg" alt="" />
</div>
<div class="container">
  <h3>3. Celestial Collection</h3>
  <p>
    This is by far the most colorful collection I ever had. It was inspired from
    the worlds above, from sunset lands no one had seen. It had plenty of the
    colors you see in the infinite universe with beautiful shining stars and
    burning suns. Many of the pieces were sculpted and painted by hand.
  </p>
</div>
<div class="flex">
  <img src="\assets\cc1n.jpg" alt="" />
  <img src="\assets\cc3n.jpg" alt="" />
</div>
<div class="container">
  <h3>4. Ice Queen Collection</h3>
  <p>
    And last but not least, my last collection which also happens to be my
    favorite collection. Ice Queen was launched in February 2020. This one was
    made to make my beautiful customers feel like their inner queens. It had a
    beautiful combination between white and blue icy stones that bring the cold
    outside. The elegance can be seen from far away. It was an important aspect
    of this collection.
  </p>
</div>
<div class="flex">
  <img src="\assets\iqc1n.jpg" alt="" />
  <img src="\assets\iqc2n.jpg" alt="" />
</div>
<div class="container">
  <img src="\assets\iqc3n.jpg" alt="" />
  <h3>5. TBA Collection</h3>
  <p>Coming soon. Visit my Instagram page for future updates.</p>
  <h2>Custom Orders</h2>
  <h3>You dream it and we create it</h3>
  <p>
    I usually take custom orders. Below there is a picture with one of my recent
    customs. You can reach me out on Instagram, email or even online shop. You
    can tell me how you visualize your jewelry, we can further discuss it
    together and find a way to make a great piece that fits you. You can express
    your ideas in any way you feel is most useful regarding your dream jewelry
    piece. It can be through a text, an image, a voice message, sketch, whatever
    you think helps you the most. I am open to anything. The prices will be set
    before I start working considering the amount of work, materials and
    difficulty. After everything is set, the customer will have to pay in
    advance 50% on the item’s full price through PayPal or Bank Transfer. The
    full price will be payed after the item is finished either when the item is
    shipped or before through Bank Transfer or PayPal.
  </p>
  <img class="limg" src="\assets\lastColn.jpg" alt="" />
</div>
