.container1 {
  margin: 8em 14em 0em 14em;
  color: white;
  text-align: justify;
  @media (max-width: 768px) {
    margin: 8em 7em 0em 7em;
  }
  @media (max-width: 425px) {
    margin: 8em 1em 0em 1em;
  }
}
.container {
  margin: 1em 14em;
  color: white;
  text-align: justify;
  @media (max-width: 768px) {
    margin: 1em 7em 0em 7em;
  }
  @media (max-width: 425px) {
    margin: 1em 1em 0em 1em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.flex {
  display: grid;
  grid-template-columns: auto auto;
}
img {
  max-width: 100%;
}

.limg {
  display: block;
  width: 50%;
  margin: auto;
}
