.container {
  margin: 8em 14em;
  padding-bottom: 3em;
  color: white;
  text-align: justify;
  @media (max-width: 768px) {
    margin: 8em 7em 0em 7em;
  }
  @media (max-width: 425px) {
    margin: 8em 1em 0em 1em;
  }
  img {
    max-width: 100%;
  }
}
