<div class="container">
  <h1>Get to know us</h1>
  <p>
    My name is Iulia and I am the creator of what you see. I am currently an
    Interior Architecture Designer at "Ion Mincu" University of Architecture
    from Bucharest. I am a lover of nature and my world revolves around mountain
    hikes, architecture and jewelry . I started this handmade journey 5 years
    ago when I saw my mom creating rustic wood painted necklaces.
  </p>

  <p>
    In the beginning I was really young and clueless therefore I had so many
    fails. Until October 2018 all I did was invest time and money while having
    almost no orders. Then I finally started my Instagram account and opened my
    Breslo shop. And since then people started to get to know my jewelry and my
    community is growing slowly but surely. At the beginning of 2020 I started
    my Etsy shop and I am so happy that I can now ship my art across the globe.
  </p>
</div>
