<div class="container">
  <h1>Inside Jules Crystal Design</h1>
  <p>
    My name is Iulia and I am the creator of what you see. Everything started in
    Romania, a small counrty from Eastern Europe, also known as the country of
    Trasnylvania. I am currently an Interior Architecture Designer at "Ion
    Mincu" University of Architecture from Bucharest. I am a lover of nature and
    my world revolves around mountain hikes, architecture and jewelry . I
    started this handmade journey 5 years ago when I saw my mom creating rustic
    wood painted necklaces and I decided to give it a try.
  </p>

  <p>
    In the beginning I was really young and clueless therefore I had so many
    fails.But after a few long years of investing and working hard I started
    improving. I finally created my Instagram account and opened my Breslo shop
    in October 2018. And since then people started to get to know my jewelry and
    my community is growing slowly but surely. I started taking professional
    photos of my art, investing more on quality materials and letting my whole
    creativity out. At the beginning of 2020 I started my Etsy shop and I am so
    happy that I can now ship my art across the globe.
  </p>
  <img src="\assets\Iuliii.jpeg" alt="Iuliii :3" />
  <p>
    Jules Crystal Design is my vision of breaking free from all the ordinary
    daily jewelry and seeking the paramountey. I am dreaming my creation and
    then I create my dream.
  </p>
  <p>
    Since I love my pieces to be one of a kind, I spend hours seeking
    high-quality materials and look for unique and beautiful stones and
    crystals. I almost never buy them online because I like to hand-pick them so
    they have the most awesome colors and shapes.
  </p>
  <p>
    As a small business owner, I design and sketch my jewelry, create them, take
    the pictures, model them, edit the photos, maintain the online shops and the
    social media, handle the orders, pack them up and ship them out. There is a
    lot of work behind a handmade artist and by buying a handmade item you not
    only get a pretty thing, but you also support a hardworking artist and also
    a dream. And another good feature about handmade brands is that you know the
    person who creates your item, the true process and any other information as
    materials or other details whereas at big companies we all have no clue
    about the environment they make their products or who is behind it. Also,
    meet the second member of the team, my assistant manager:
  </p>
  <img src="\assets\Toffee.jpeg" alt="Cute Cat picture" />
  <p>
    In addition I would like to mention some of the persons that always helped
    me on this path ever since my first handmade fair in 2015. I’m talking about
    my two beloved sisters who helped me a lot and still do especially at
    photoshoots as models or photographers, my best friend and also my boyfriend
    who helped me so much along this journey and also designed this website. So
    many thanks to them!
  </p>
</div>
