<div class="container">
  <a routerLink="">
    <img src="assets/Logof.jpeg" alt="Logo" width="190" height="114"
  /></a>
  <div class="button">
    <a routerLink="/about">My Story</a>
    <a routerLink="/art">Art for the heart</a>
    <a class="findme" (click)="toggle()">Find me</a>
  </div>
</div>

<div class="drop" [@disp_bar]="isOpen ? 'show_bar' : 'hide_bar'">
  <ul>
    <li>
      <a href="https://www.instagram.com/jules.crystal.design/?hl=ro"
        >Instagram
      </a>
    </li>
    <li><a href="https://www.breslo.ro/JulesCrystalDesign">Breslo </a></li>
    <li>
      <a href="https://www.etsy.com/shop/JulesCrystalDesign?ref=ss_profile"
        >Etsy
      </a>
    </li>
    <li><a>jules.crystaldesign@gmail.com </a></li>
  </ul>
</div>
<router-outlet></router-outlet>
