.container {
  position: fixed;
  top: 0px;
  width: 100%;
}
img {
  position: absolute;
  z-index: 1;
}
.button {
  position: absolute;
  right: 0px;
  background-color: whitesmoke;
  width: 100%;
  text-align: right;

  a {
    background-color: whitesmoke;
    text-decoration: none;
    color: #8a87a6;
    padding: 3em;
    display: inline-block;
    &:hover {
      background-color: #8a87a6;
      color: rgb(235, 235, 235);
    }
  }
}
.drop {
  position: fixed;
  display: block;
  top: 7.15em;
  right: 0px;
  background-color: #e0e0e0;
  transition: ease-in 0.5;
  ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
    li {
      &:hover {
        width: 100%;
        background-color: #8a87a6;
      }
    }
    a {
      text-decoration: none;
      color: rgb(20, 20, 20);
      display: inline-block;
      padding: 3.1em 2.65em;
    }
  }
}
