<div class="container">
  <a routerLink="">
    <img
      src="assets/Logofn.jpg"
      (click)="routch()"
      alt="Logo"
      width="190"
      height="114"
  /></a>
  <div class="button">
    <a routerLink="/about" (click)="routch()">About</a>
    <a routerLink="/art" (click)="routch()">My art</a>
    <a class="findme" (click)="toggle()">Find me</a>
  </div>
</div>

<div class="drop" [@disp_bar]="isOpen ? 'show_bar' : 'hide_bar'">
  <ul>
    <li>
      <a
        href="https://www.instagram.com/jules.crystal.design/?hl=ro"
        target="_blank"
        >Instagram
      </a>
    </li>
    <li>
      <a href="https://www.breslo.ro/JulesCrystalDesign" target="_blank"
        >Breslo
      </a>
    </li>
    <li>
      <a
        href="https://www.etsy.com/shop/JulesCrystalDesign?ref=ss_profile"
        target="_blank"
        >Etsy
      </a>
    </li>
    <li><a>jules.crystaldesign@gmail.com </a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<footer>
  Website brought to life by Sebastian. <br />
  Find me: ene.sebastian.2000@gmail.com
</footer>
