<div class="container">
  <h1>Jewelry created with soul for beautiful Souls.</h1>
  <div class="slide">
    <img src="assets/slide{{ index }}.jpeg" alt="image of jewelry" />
    <button (click)="click()">Next</button>
    <p>{{ index }}/4</p>
  </div>
  <h3>
    Delicate and elegant, fantasy inspired, one of a kind jewelry made for you
    as an unique experience.
  </h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, incidunt.
    Quaerat aliquid adipisci maiores minima praesentium cumque id ea. Impedit
    culpa expedita placeat sequi perferendis? Qui ea nostrum facilis maxime
    dolorem, porro impedit asperiores nam temporibus optio praesentium in sed
    libero distinctio est unde aliquam, modi quae quos. Ab sapiente fugit
    nostrum cumque impedit, voluptatum id quaerat neque omnis dolor. Rem sit
    explicabo laudantium commodi nisi molestias doloribus. Culpa voluptatem
    corrupti et eligendi eveniet itaque sit eaque eum quos totam adipisci
    suscipit quis, reiciendis repellat, commodi similique aperiam ullam
    accusamus exercitationem repudiandae distinctio aspernatur assumenda
    aliquid! Officiis reiciendis voluptatem dolorum!
  </p>
</div>
