<div class="container">
  <h1>Jewelry created with soul for beautiful Souls.</h1>
  <div class="slide">
    <img src="assets/slide{{ index }}n.jpg" alt="image of jewelry" />
    <button (click)="click()">Next</button>
    <p>{{ index }}/5</p>
  </div>
  <h3>
    Delicate and elegant, fantasy inspired, one of a kind jewelry made for you
    as an unique experience.
  </h3>
  <p>
    Feel the ultimate mistical experience through your jewelry. Bring the long
    forgotten stories into your day by day life. Our intention is to make you
    feel like the enchanted goddess inside yourself. Everything is designed and
    created with a lot of passion for the unique, right in the land of
    Transylvania.
  </p>
</div>
