.container {
  margin: 6em 14em;
  color: whitesmoke;
  text-align: justify;
  max-width: max-content;
  @media (max-width: 768px) {
    margin: 6em 7em 0em 7em;
  }
  @media (max-width: 600px) {
    margin: 5em 1em 0em 1em;
  }
  h1 {
    padding-top: 1em;
  }
  .slide {
    position: relative;
    z-index: 1;
    img {
      display: block;
      margin: 0em auto;
      max-width: 100%;
      height: auto;
      max-height: 500px;
    }
    button {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 5;
      border: none;
      background-color: rgba(56, 56, 56, 0.5);
      color: whitesmoke;
      padding: 2em;
      &:hover {
        background-color: rgba(56, 56, 56, 0.9);
      }
      &:focus {
        outline: none;
      }
      @media (max-width: 425px) {
        padding: 1em;
      }
    }
    p {
      position: absolute;
      bottom: -16px;
      background-color: rgba(56, 56, 56, 0.5);
      padding: 2em;
      @media (max-width: 425px) {
        padding: 1em;
      }
    }
  }
}
